<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en" ng-app="memcached-keys"> <!--<![endif]-->
  <head>

    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Memcached Manager</title>
    <meta name="description" content="The ultimate memcached manager.">

    <!-- Mobile Specific Metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="<%= @engine_path %>/stylesheets/base.css">
    <link rel="stylesheet" href="<%= @engine_path %>/stylesheets/skeleton.css">
    <link rel="stylesheet" href="<%= @engine_path %>/stylesheets/layout.css">
    <link rel="stylesheet" href="<%= @engine_path %>/stylesheets/icons.css">
    <link rel="stylesheet" href="<%= @engine_path %>/stylesheets/app.css">
    <link rel="stylesheet" href="<%= @engine_path %>/stylesheets/buttons.css">
    <link rel="stylesheet" href="<%= @engine_path %>/stylesheets/inputs.css">
    <link rel="stylesheet" href="<%= @engine_path %>/stylesheets/jquery-terminal.css">

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Favicons
    ================================================== -->
    <link rel="shortcut icon" href="images/favicon.ico">
  </head>
  <body>
    <%= yield %>
    <script type='text/javascript'>
      // This is used because sometimes the app is a Rails/Rack mounted application and it's base path is different.
      window.basePath = '<%= @engine_path %>';
    </script>
    <script type='text/javascript' src='<%= @engine_path %>/javascripts/jquery-1.9.1.min.js'></script>
    <script type='text/javascript' src='<%= @engine_path %>/javascripts/underscore.js'></script>
    <script type='text/javascript' src='<%= @engine_path %>/javascripts/angular.min.js'></script>
    <script type='text/javascript' src='<%= @engine_path %>/javascripts/angular-resource.min.js'></script>
    <script type='text/javascript' src='<%= @engine_path %>/javascripts/angular-ui-states.min.js'></script>
    <script type='text/javascript' src='<%= @engine_path %>/javascripts/application.js'></script>
    <script type='text/javascript' src='<%= @engine_path %>/javascripts/angular/routes.js'></script>
    <script type='text/javascript' src='<%= @engine_path %>/javascripts/angular/controllers.js'></script>
    <script type='text/javascript' src='<%= @engine_path %>/javascripts/angular/services/notification.js'></script>
    <script type='text/javascript' src='<%= @engine_path %>/javascripts/angular/services/response.js'></script>
    <script type='text/javascript' src='<%= @engine_path %>/javascripts/angular/services/resources.js'></script>
    <script type='text/javascript' src='<%= @engine_path %>/javascripts/noty/jquery.noty.js'></script>
    <script type='text/javascript' src='<%= @engine_path %>/javascripts/noty/layouts/top.js'></script>
    <script type='text/javascript' src='<%= @engine_path %>/javascripts/noty/themes/default.js'></script>
    <script type='text/javascript' src='<%= @engine_path %>/javascripts/noty_config.js'></script>
    <script type='text/javascript' src='<%= @engine_path %>/javascripts/jquery-terminal.js'></script>
  </body>
</html>
